.info-container{
    width: 100%;
    margin: auto;
    padding: 15px;
    position: relative;
    color: #fff;
    font-weight: 600;
    .info-content{
        img{
            margin: auto;
        }
    }
}